@{
    const string myEmail = "https://www.linkedin.com/in/viktormyronenko";
    const string myFio = "©Viktor Myronenko";
}

<footer class="footer mt-auto py-3 fixed-bottom">
    <div class="container">
        <a href="@myEmail" target="_blank" class="text-muted"> @myFio</a>
    </div>
</footer>