@model CA.Common.ViewModels.MessageView

@using (Html.BeginForm("Input", "Chat", FormMethod.Post))
{
    <fieldset>
        <div class="form-group d-flex justify-content-between p-3">
            @Html.TextBox("Message", Model.Message, new { id = "message", @class = "form-control col-10" })
            @Html.ValidationMessage("Message", new { @class = "form-text text-danger" })
            <button type="submit" class="col-1 btn btn-outline-primary"> <i class="fa fa-pencil"></i> </button>
        </div>
    </fieldset>
}
