@model PagedList.IPagedList<CA.Domain.Entities.Message>
@using PagedList.Mvc;

@using System.Web.Mvc.Html
    
@Styles.Render("~/Content/PagedList.css")

@{
    ViewBag.Title = "Index";

    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

@Html.Action("Input")

@{
    if (!Model.Any())
    {
        <p>No messages</p>
    }
    else
    {
        foreach (var mess in Model)
        {
            @Html.Action("Index", "Message", new { message = mess })
        }
    }
    @Html.PagedListPager(Model, page => Url.Action("Index",  new { page }))

}